<div class="stepper">
    <h1>Party Home Page</h1>
</div>
<div class="partyContainer">
    <div class="eachPartyContainer">
        {{#each users}}
        <a href="/users/{{this._id}}" class="link user-card">
            <div class="user-image">
                {{#if this.photoUrl}}
                <img src="{{this.photoUrl}}" alt="{{this.partyName}}'s photo"> {{else}}
                <img src="https://photos.zillowstatic.com/p_h/IS660upyer0pc01000000000.jpg" alt="{{this.username}}'s profile photo"> {{/if}}
            </div>
            <div class="Party-name">
                {{this.partyName}}
            </div>
            <div class="host-contact">
                {{this.street} {{this.date}}
            </div>
        </a>
        {{/each}}
    </div>
    <div class="button primary">
        <a href="/hosts/new">
            New Host
        </a>
    </div>
</div>